{{ $profile := resources.Get "profile.jpg" }}
{{ $profile := $profile.Process "webp" }}

<header class='flex flex-col items-center gap-4'>
  <div class="w-40 lg:w-48 h-40 lg:h-48 relative">
    <img class="rounded-full"
         src="{{ $profile.RelPermalink }}"
         width="{{ $profile.Width }}"
         height="{{ $profile.Height }}"
         alt="Profile picture">
  </div>

  {{- /* TITLE */}}
  {{ if .IsHome }}
    <h1 class='text-4xl lg:text-5xl font-bold'>
      {{ site.Params.name }}
    </h1>
  {{ else }}
    <h1 class='text-4xl lg:text-5xl font-bold'>
      <a href="/">
        {{ site.Params.name }}
      </a>
    </h1>
  {{ end }}

  {{- /* SUBTITLE AND LINKS */}}
  <div class='flex flex-col items-center justify-center gap-4'>
    {{- /* SUBTITLE */}}
    <p class='text-center'>
      {{ .Site.Params.subtitle }}
    </p>
  </div>

</header>
