@import "tailwindcss";
@source "../app";
@source "../components";

@layer base {
  html, body {
    @apply bg-neutral-50 dark:bg-neutral-800 text-neutral-600 dark:text-neutral-200 w-full h-full m-0;
    @apply text-base lg:text-base;
  }

  h1, h2, h3, h4, h5 {
    @apply text-neutral-900 dark:text-white;
  }

  h1 {
    @apply text-3xl lg:text-4xl font-bold;
  }

  h2 {
    @apply text-2xl lg:text-3xl font-bold;
  }

  h3 {
    @apply text-xl lg:text-2xl font-bold;
  }

  p {
    @apply text-lg;
  }

  a {
    @apply text-red-600 dark:text-red-400 hover:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:rounded-sm focus-visible:outline-red-600 dark:focus-visible:outline-red-400;
  }
}

@utility card {
  @apply px-4 py-2 w-full rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-neutral-700 dark:border-neutral-700 dark:hover:bg-neutral-700 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 dark:focus-visible:outline-red-400;
}

@utility primary-text {
  @apply text-red-600 dark:text-red-400;
}
@utility description {
  @apply text-neutral-600 dark:text-neutral-300;
}
@utility icon-link {
  @apply text-red-600 dark:text-red-400;
  @apply flex content-center gap-1 border-b-2 border-transparent hover:no-underline hover:border-b-2 hover:border-red-600 hover:dark:border-red-400 cursor-pointer focus-visible:no-underline focus-visible:rounded-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 dark:focus-visible:outline-red-400;
}
