@import "tailwindcss";

@source "hugo_stats.json";

@layer base {
  html, body {
    @apply bg-neutral-50 dark:bg-neutral-800 text-black dark:text-neutral-200 w-full h-full m-0;
    @apply text-base lg:text-base;
  }

  h1, h2, h3, h4, h5 {
    @apply text-neutral-900 dark:text-white;
  }

  h1 {
    @apply text-3xl lg:text-4xl font-bold;
  }

  h2 {
    @apply text-2xl lg:text-3xl font-bold;
  }

  h3 {
    @apply text-xl lg:text-2xl font-bold;
  }

  p {
    @apply lg:text-lg;
  }

  a {
    @apply text-red-700 dark:text-red-400;
  }
}

@utility subtitle {
  @apply text-lg dark:text-neutral-100;
}

@utility bio {
  @apply text-center px-3 lg:px-20 dark:text-neutral-300 pb-4;
}

@utility card {
  @apply px-4 py-2 w-full rounded-lg  shadow-md;
  /* Light background */
  @apply  bg-gray-50 hover:bg-gray-100;
  /* Dark background */
  @apply dark:bg-neutral-700/50 dark:hover:bg-neutral-700;
  /* Border */
  @apply border border-gray-200 dark:border-neutral-700;
}

@utility card-title {
   @apply text-red-700 dark:text-red-400;
}

@utility card-subtitle {
  @apply text-black dark:text-neutral-300;
}

@utility card-subsubtitle {
  @apply text-neutral-600 dark:text-neutral-400;
}

@utility primary-text {
  @apply text-red-700 dark:text-red-400;
}
@utility description {
  @apply text-black dark:text-neutral-300;
}
@utility icon-link {
  @apply text-red-700 dark:text-red-400 ;
  @apply flex content-center gap-1 border-b-2 border-transparent hover:no-underline hover:border-b-2 hover:border-red-700 hover:dark:border-red-400 cursor-pointer;
}
